.auth-page{


min-height:85vh;


display:flex;


justify-content:center;


align-items:center;


padding:60px 20px;


}






.auth-card{


width:480px;


padding:55px;


background:var(--card);


border:1px solid var(--border);


border-radius:28px;


backdrop-filter:blur(25px);


box-shadow:

0 35px 90px rgba(0,0,0,.25);



position:relative;


overflow:hidden;


}





.auth-card::before{


content:"";


position:absolute;


top:0;

left:0;


width:100%;

height:5px;


background:

linear-gradient(

90deg,

#780000,

#d90429,

#ff758f

);


}








.auth-icon{


width:75px;


height:75px;


margin:auto;


display:flex;


align-items:center;


justify-content:center;



font-size:38px;



border-radius:50%;



background:

rgba(217,4,41,.15);



margin-bottom:25px;


}







.auth-card h1{


font-family:'Playfair Display',serif;


font-size:45px;


text-align:center;


}





.auth-card p{


text-align:center;


color:var(--muted);


margin-bottom:40px;


}







.input-box{


margin-bottom:25px;


}



.input-box label{


font-weight:700;


margin-bottom:10px;


display:block;


}






.input-box input{


width:100%;


padding:15px;


border-radius:12px;


border:1px solid var(--border);


background:transparent;


color:var(--text);


outline:none;


}





.input-box input:focus{


border-color:#d90429;


box-shadow:

0 0 0 4px rgba(217,4,41,.15);


}







.auth-btn{


width:100%;


background:#d90429;


font-size:17px;


margin-top:15px;


}







.switch{


margin-top:30px;


text-align:center;


color:var(--muted);


}





.switch a{


color:#ff4d6d;


font-weight:700;


text-decoration:none;


}