.hero{


min-height:85vh;


display:flex;


flex-direction:column;


justify-content:center;


align-items:center;


text-align:center;


padding:50px 8%;


position:relative;


}







.hero::before{


content:"📚";


position:absolute;


font-size:300px;


opacity:.05;


left:5%;


bottom:5%;


}









.hero-icon{


width:90px;


height:90px;


border-radius:50%;


display:flex;


justify-content:center;


align-items:center;


font-size:45px;


margin:auto;


margin-bottom:30px;


background:

rgba(217,4,41,.15);


}








.hero h1{


font-family:'Playfair Display',serif;


font-size:75px;


line-height:1.1;


max-width:850px;


}




.hero h1 span{


color:#d90429;


display:block;


}







.hero p{


font-size:20px;


max-width:600px;


margin:30px auto;


color:var(--muted);


line-height:1.7;


}









.hero-buttons{


display:flex;


gap:25px;


justify-content:center;


margin-top:35px;


}








.hero-buttons a{


padding:16px 35px;


border-radius:14px;


text-decoration:none;


font-weight:700;


transition:.3s;


}






.primary-btn{


background:#d90429;


color:white;


}






.secondary-btn{


border:1px solid var(--border);


color:var(--text);


background:var(--card);


}







.hero-buttons a:hover{


transform:translateY(-4px);


box-shadow:

0 15px 35px rgba(217,4,41,.3);


}









.stats{


display:grid;


grid-template-columns:

repeat(3,220px);


gap:30px;


margin-top:80px;


}








.stat-box{


padding:35px;


border-radius:25px;


background:var(--card);


border:1px solid var(--border);


backdrop-filter:blur(20px);


transition:.3s;


}







.stat-box:hover{


transform:translateY(-8px);


}






.stat-box h2{


font-size:40px;


}




.stat-box h3{


font-family:'Playfair Display',serif;


}





.stat-box p{


color:var(--muted);


}







@media(max-width:800px){



.hero h1{


font-size:50px;


}




.stats{


grid-template-columns:1fr;


}



.hero-buttons{


flex-direction:column;


}



}